body{
  display: flex;
  justify-content: center;
  background: linear-gradient(rgb(150, 199, 202), rgb(57, 194, 199));
}

.container{
  display: flex;
  height: 800px;
  width: 850px;
  padding: 7px;
  background: linear-gradient(rgb(50, 46, 117), rgb(88, 76, 121));
  text-align: center;
  justify-content: center;
  border: 2px solid wheat;
  border-radius: 4%;
}

tr{
  padding: 15px;
}

td{
  padding: 15px;
  border: 1px solid wheat;
}

.div_item{
  height: 30px;
  display: flex;
}

img{
  flex: 1;
  object-fit: cover;
}

th{
  padding: 15px;
  background: rgb(168, 164, 164);
}

tr:hover{
  background: rgb(19, 16, 48);
  color: wheat;
  cursor: pointer;
}
